// Imports
@import 'normalize.css';

// Variables
$slider-height: 4rem;
$slider-width: 4rem;
$slider-radius: 10rem;
$slider-color: #444;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Exo');

// Mixinz
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

body {
    font-family: "Exo";
    color: #eee;
    height: 100%;
    background: #360033;  /* fallback for old browsers */
    background: radial-gradient(#0b8793, #1a3c54);
}

html {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#viewer-canvas {
    flex: 1 1 100%;
    //background: #360033;
    //background: radial-gradient(#0b8793, #1a3c54);
    //background: linear-gradient(#0b8793, #360033);
}

.sidebar {
    flex: 0 0 0;
    //background: #1a3c54;
    z-index: 2;
    //border-right: 1px rgba(255, 255, 255, 0.05) solid;
    padding: 0rem 2rem;
    //@include box-shadow(5px, 5px, 50px, rgba(0,0,0,0.3));
}

#slidecontainer {
  outline: none;
  display: flex;
  flex-direction: column;
}

/* The slider itself */
.slider {
  align-self: center;
  -webkit-appearance: none; // Override default CSS styles
  appearance: none;
  width: 90%; /* Full-width */
  height: $slider-height; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; // Remove outline
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  outline: none;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: $slider-width; /* Set a specific slider handle width */
  height: $slider-height; /* Slider handle height */
  background: $slider-color; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: $slider-width; /* Set a specific slider handle width */
  height: $slider-height; /* Slider handle height */
  background: $slider-color; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.round-slider {
    align-self: center;
	width: $slider-radius;
	height: $slider-radius;
	cursor: pointer;
}
