// Imports
@import 'bulma.min.css';
@import 'normalize.css';

html {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    height: 100%;
    width: 100%;
}

// Variables
$slider-height: 4rem;
$slider-width: 4rem;
$slider-radius: 10rem;
$slider-color: #444;
$energy-slider-width: 0.2rem;
$energy-slider-knob-size: 1.2rem;
$myblack: #222;
$myorange: rgb(255,121,0);

// Fonts
//@import url('https://fonts.googleapis.com/css?family=Exo');

// Mixinz
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin button($color) {
  cursor: pointer; /* Cursor on hover */
  border-radius: 0.2*$slider-width;
  outline: none;
  background: darken($color, 2);
  color: white;
  &:active {
    transform: scale(0.95);
  }
  border: 1px solid darken($color, 10);
  @include box-shadow(0px, -3px, 0px, rgba(0,0,0,0.20), true);
}

@mixin knob($color) {
  cursor: pointer; /* Cursor on hover */
  border-radius: 0.2*$slider-width;
  outline: none;
  border: 5px solid rgba(255,255,255,0.3);
  background: radial-gradient(lighten($color, 10), $color);
  &:active {
    transform: scale(0.95);
  }
  @include box-shadow(3px, 3px, 3px, rgba(0,0,0,0.25));
}

.is-active.mybutton {
  background-color: darken($myorange, 20);
  //color: black;
}

#header {
  position: fixed;
  height: 20%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2.5rem;
  z-index: 160;
}

#title {
  position: fixed;
  height: 20%;
  width: 50%;
  top: 11%;
  left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title>h2 {
    font-size: 3.5rem;
}
#title>div {
    font-size: 2.5rem;
}

.mybutton {
  width: 13rem;
  height: 4.5rem;
  text-align: center;
  font-size: 2.5rem;
  color: $myblack;
  padding: 0;
  margin: 0;
  @include button($myorange);
}
.mybutton > div {
  position: relative;
  top: 50%;
  transform: translateY(-55%);
}

body {
    font-family: "Helvetica";
    height: 100%;
    width: 100%;
    color: $myblack;
    background: white;
}

h1 {
  font-size: 2.5rem;
}

.cont {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 0 0 25%;
    z-index: 2;
    padding: 1rem 3rem;
}

#viewer-canvas {
  position: fixed;
  left: 25%;
  top: 28%;
  width: 55%;
  height: 60%;
}

#canvas {
  height: 99%;
  width: 95%;
}

#info {
  position: fixed;
  left: 0;
  top: 2%;
  width: 28%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  z-index: 2;
  padding-left: 4rem;
}

#info>div {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#loadscreen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

#energies {
  position: fixed;
  width: 40%;
  bottom: 2rem;
  left: 30%;
}

#reset-holder {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 150;
}

#energy {
  display: flex;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: -0.5rem;
}

#energy div,
#min-energy div
{
  margin-left: 1rem;
}

#energy-slider {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

#energy-slider-middle-bar {
  height: $energy-slider-width;
  width: 100%;
  background-color: $myblack;
  display: flex;
  align-items: center;
}

.energy-slider-end-bar {
  height: 2rem;
  width: $energy-slider-width;
  background-color: $myblack;
}

.energy-slider-range {
  position: absolute;
  height: 100%;
  width: 100%;
}

#energy-slider-min-knob {
  position: relative;
  top: -0.5*$energy-slider-knob-size;
  left: -0.5*$energy-slider-knob-size;
  height: $energy-slider-knob-size;
  width: $energy-slider-knob-size;
  background-color: $myorange;
  border-radius: $energy-slider-knob-size;
}

.energy-slider-knob-holder {
  position: relative;
  top: 50%;
  left: 0%;
}

#energy-slider-knob {
  position: relative;
  top: -0.5*$energy-slider-knob-size;
  left: -0.5*$energy-slider-knob-size;
  height: $energy-slider-knob-size;
  width: $energy-slider-knob-size;
  background-color: $myblack;
  border-radius: $energy-slider-knob-size;
}

#min-energy {
  color: $myorange;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: -0.5rem;
  font-size: 2.5rem;
}

#reset {
  border-radius: $slider-width;
  height: 5rem;
}

#parameters h1 {
    text-align: right;
}

.infoscreen {
  position: static;
}

.slidecontainer {
  position: fixed;
  right: 2rem;
  top: 20%;
  bottom: 25%;
  height: 55%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.slidecontainer > h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.tabs {
    font-size: 1.5rem;
}

.content-tab {
    font-size: 1.8rem;
}

.tabs a {
    margin: 0;
    padding: 0;
}

.sliderholder {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sliderholder p {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 2rem;
}

/* The slider itself */
.slider {
  align-self: center;
  width: 90%; /* Full-width */
  height: 0.8*$slider-height; /* Specified height */
  background-color: rgba(0, 0, 0, 0.3); /* Grey background */
  outline: none; // Remove outline
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: background-color .2s;
  border-radius: 0.5rem;
}

#d13::-moz-range-thumb {
  @include knob(#5e3c99);
  border-radius: $slider-width;
}
#d11::-moz-range-thumb {
  @include knob(black);
  border-radius: $slider-width;
}
#d7::-moz-range-thumb {
  @include knob(#e66101);
  border-radius: $slider-width;
}
#d4::-moz-range-thumb {
  @include knob(green);
  border-radius: $slider-width;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  width: $slider-width; /* Set a specific slider handle width */
  height: $slider-height; /* Slider handle height */
}

.slider::-moz-range-thumb {
  width: $slider-width; /* Set a specific slider handle width */
  height: $slider-height; /* Slider handle height */
}

.round-slider {
    align-self: center;
	width: $slider-radius;
	height: $slider-radius;
	cursor: pointer;
}

//==============================================================================
// Loading animation
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: $myblack;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
