// Imports
@import 'normalize.css';

// Variables
$slider-height: 4rem;
$slider-width: 4rem;
$slider-radius: 10rem;
$slider-color: #444;
$energy-slider-width: 0.2rem;
$energy-slider-knob-size: 1rem;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Exo');

// Mixinz
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

body {
    font-family: "Exo";
    color: #eee;
    height: 100%;
    width: 100%;
    background: #0b8793;  /* fallback for old browsers */
    background: radial-gradient(#0b8793, #1a3c54);
}

html {
    height: 100%;
    width: 100%;
}

h1 {
  font-size: 2.5rem;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 0 0 20%;
    z-index: 2;
    padding: 1rem 3rem;
}

#viewer-canvas {
  flex: 1 1 100%;
  margin-top: -3%;
}

#canvas {
  height: 99%;
  width: 95%;
}

#loadscreen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

#energies {
  position: fixed;
  width: 40%;
  height: 20%;
  bottom: 0rem;
  left: 30%;
}

#energy {
  display: flex;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#energy div,
#min-energy div
{
  margin-left: 1rem;
}

#energy-slider {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

#energy-slider-middle-bar {
  height: $energy-slider-width;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
}

.energy-slider-end-bar {
  height: 2rem;
  width: $energy-slider-width;
  background-color: white;
}

.energy-slider-range {
  position: absolute;
  height: 100%;
  width: 100%;
}

#energy-slider-min-knob {
  position: relative;
  top: -0.5*$energy-slider-knob-size;
  left: -0.5*$energy-slider-knob-size;
  height: $energy-slider-knob-size;
  width: $energy-slider-knob-size;
  background-color: orange;
  border-radius: $energy-slider-knob-size;
  @include box-shadow(0, 0, 10px, #000);
}

.energy-slider-knob-holder {
  position: relative;
  top: 50%;
  left: 0%;
}

#energy-slider-knob {
  position: relative;
  top: -0.5*$energy-slider-knob-size;
  left: -0.5*$energy-slider-knob-size;
  height: $energy-slider-knob-size;
  width: $energy-slider-knob-size;
  background-color: white;
  border-radius: $energy-slider-knob-size;
  @include box-shadow(0, 0, 10px, #000);
}

#min-energy {
  color: orange;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 2rem;
}

#scoreboard ol li {
  font-size: 1.5rem;
}

#parameters h1 {
    text-align: right;
}

.slidecontainer {
  position: fixed;
  right: 2rem;
  top: 25%;
  bottom: 25%;
  height: 50%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.sliderholder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sliderholder p {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 1.2rem;
}

/* The slider itself */
.slider {
  align-self: center;
  width: 90%; /* Full-width */
  height: 0.8*$slider-height; /* Specified height */
  background-color: rgba(255, 255, 255, 0.25); /* Grey background */
  outline: none; // Remove outline
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: background-color .2s;
  border-radius: 0.5rem;
}

/* Mouse-over effects */
.slider:hover {
  background-color: #fff; /* Grey background */
}

#d13::-moz-range-thumb {
  background: blue;
}
#d11::-moz-range-thumb {
  background: black;
}
#d7::-moz-range-thumb {
  background: red;
}
#d4::-moz-range-thumb {
  background: green;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  width: $slider-width; /* Set a specific slider handle width */
  height: $slider-height; /* Slider handle height */
  background: $slider-color; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: $slider-width;
  @include box-shadow(0, 0, 10px, #000);

}

.slider::-moz-range-thumb {
  width: $slider-width; /* Set a specific slider handle width */
  height: $slider-height; /* Slider handle height */
  background: $slider-color; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: $slider-width;
  @include box-shadow(0, 0, 10px, #000);
}

.round-slider {
    align-self: center;
	width: $slider-radius;
	height: $slider-radius;
	cursor: pointer;
}

//==============================================================================
// Loading animation
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
